@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@1,700&family=Roboto+Slab:wght@500&family=Source+Code+Pro:ital,wght@0,400;1,400;1,900&display=swap');

@font-face {
	font-family: 'Press Start 2P', cursive;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Roboto Slab', serif;
	font-family: 'Source Code Pro', monospace;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto Slap';
	color: #7FFFD4
}

html, body {
	margin: 0;
	padding: 0;
}

.nav ul {
	margin: 0;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 1.0em;
	color: white;
	text-decoration: none;
}

.main-nav {
	text-align: center;
	font-size: 3.0em;
	font-family: 'Source Code Pro';
	font-weight: medium;;
	border-bottom: 1px solid #FFFFFF;
	background-color: #2E8B57
}	