/* email form formatting */
.email-page {
	text-align: center;
	padding: 5px;
}

.email-page button {
	font-family: Roboto Mono;
	display: inline-block;
	border-radius: 8px;
}

.email-form {
	color: green;
	background-color: rgba(0,1,0,.1);
	font-weight: bolder;
	padding: 20px;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	border: groove;
}

.email-form textarea {
	resize: none;
	width: 640px;
	height: 160px;
}

#warning {
	padding-left: 60px;
	padding-right: 60px;
}