/* hompage styling */
#sectionAbout {
	text-align: center;
	margin: 10px 10%;
	padding: 0 32px;
}

#sectionAbout button {
	font-family: Roboto Mono;
	display: inline-block;
	border-radius: 8px;
}

/* skills styling */
#sectionSkills {
	text-align: center;
}

/* projects styling */
#sectionProjects {
	width: 100%;
	text-align: center;
}

.proj-3 {
	display: inline;
}

.proj-6 {
	
}
