@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@1,700&family=Roboto+Slab:wght@500&family=Source+Code+Pro:ital,wght@0,400;1,400;1,900&display=swap');

@font-face {
	font-family: 'Press Start 2P', cursive;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Roboto Slab', serif;
	font-family: 'Source Code Pro', monospace;
}

* {
	box-sizing: border-box;
	font-family: Source Code Pro;
	margin-top: 0;
}

html, body {
	margin: 0;
	padding: 0;
	color: rgb(0,255,0);
	text-shadow: 0 0 3px rgb(0,255,0);
	background-color: rgba(0,0,0,.75);
	background-image: radial-gradient(rgba(0, 60, 0, 0.25), black 80%);
}

/* CRT Styling from: http://aleclownes.com/2017/02/01/crt-display.html */
@keyframes flicker {
	0% { opacity: 0.27861; }
	5% { opacity: 0.34769; }
	10% { opacity: 0.23604; }
	15% { opacity: 0.90626; }
	20% { opacity: 0.18128; }
	25% { opacity: 0.83891; }
	30% { opacity: 0.65583; }
	35% { opacity: 0.67807; }
	40% { opacity: 0.26559; }
	45% { opacity: 0.84693; }
	50% { opacity: 0.96019; }
	55% { opacity: 0.08594; }
	60% { opacity: 0.20313; }
	65% { opacity: 0.71988; }
	70% { opacity: 0.53455; }
	75% { opacity: 0.37288; }
	80% { opacity: 0.71428; }
	85% { opacity: 0.70419; }
	90% { opacity: 0.7003; }
	95% { opacity: 0.36108; }
	100% { opacity: 0.24387; }
}

@keyframes textShadow {
	0% { text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	5% { text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	10% { text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
	15% { text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	20% { text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	25% { text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	30% { text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	35% { text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	40% { text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	45% { text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	50% { text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	55% { text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	60% { text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	65% { text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	70% { text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	75% { text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	80% { text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	85% { text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	90% { text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	95% { text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
	100% { text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
}

.content::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 0.15s infinite;
}

.content::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(
		rgba(18, 16, 16, 0) 50%, rgba(0, 16, 0, 0.25) 50%), 
		linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06)
	);
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}

.content {
	animation: textShadow 1.6 infinite;
	height 120%;
}

.header-nav li {
	padding-top: 10;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding-left: 1.5em;
	padding-right: 1.5em;
	text-decoration: none;
	color: white;
}

.nav a:hover {
	background-color: rgba(0, 120, 0, .3);
}

.header-nav {
	text-align: center;
	font-size: 1.2em;
}

.header {
	background-size: cover;
	padding-bottom: 5px;
	background-color: rgba(0, 255, 0, 0.1);
}

.name h1 {
	padding-left: 8px;
	text-align: left;
	margin: 10 auto;
	font-size: 4em;
}

@keyframes cursor-blink {
	0% {
		opacity: 0;
	}
}

.name h1::after {
	content: "_";
	width: 24px;
	height: 48px;
	display: inline-block;
	animation: cursor-blink 1.5s steps(2) infinite;
}

/* footer styling */
.footer {
	width: 100%;
	margin-bottom: 0px;
	text-align: center;
	padding: 40px 0;
	background-color: rgba(0, 255, 0, .1);
	color: white
}

.footer img {
	width: 48px;
	length: 48px;
}

.footer ul {
	list-style: none;
	font-size: 18px;
	line-height: 1.6;
}

.footer li {
	padding: 0 10px;
	display: inline;
}

.footer ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.5;
	display: inline;
}

.footer ul a:hover {
	opacity: 1;
}

.footer .contacts {
	padding-bottom: 25px;
}

.footer .contacts > a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	margin: 0 8px;
	color: inherit;
	opacity: 0.75;
}

.footer .contacts > a:hover {
	opacity: 1.0;
}

.footer .name {
	margin-top: 15px;
	text-align: center;
	font-size: 14px;
	color: #aaa;
	margin-bottom: 0;
}